[Desktop Entry]
Type=Application
Name=Karaf
Comment=Apache Karaf OSGi Framework
Exec=lxterminal -e bin/karaf
Terminal=false
StartupNotify=false
Categories=Development;IDE;Java;
Path=<%= @_homeDir/@_libName =>